* {
  box-sizing:border-box;
  font-family:arial;
  outline:none;
}

html {
  font-size:62.5%;
}

:root {
  --lightRed:#fe0000;
  --darkBlue:#365783;
  --lightBlue:#628ac0;
  --lightGray:#f2f2f2;
  --lineGray:#dad7d7;
  --darkGray:#3b3b3b;
}

/*GENERICS CLASSES AND ID*/
#model {
  position:absolute;
  top:0px;
  left:0px;
  background:rgba(0, 0, 0, 0.432);
  width:100%;
  height:100%;
  z-index:50;
}

.imgAccount {
  width:30px;
  height:30px;
  border-radius:100px;
}

.circularIconeBorder {
  cursor:pointer;
  width:40px;
  padding:9px 0px;
  border-radius:100px;
  text-align:center;
}

.noVisibleElement {
  display:none;
}

/*ANIMATIONS*/
.darkRippleAnimation {
  animation-name:darkRippleEfect;
  animation-duration:0.2s;
  animation-fill-mode:forwards;
}

@keyframes darkRippleEfect {
  5% {background:radial-gradient(circle, var(--lineGray) 5%, transparent 0% );}
  10% {background:radial-gradient(circle, var(--lineGray) 10%, transparent 0% );}
  15% {background:radial-gradient(circle, var(--lineGray) 15%, transparent 0% );}
  20% {background:radial-gradient(circle, var(--lineGray) 20%, transparent 0% );}
  25% {background:radial-gradient(circle, var(--lineGray) 25%, transparent 0% );}
  30% {background:radial-gradient(circle, var(--lineGray) 30%, transparent 0% );}
  35% {background:radial-gradient(circle, var(--lineGray) 35%, transparent 0% );}
  40% {background:radial-gradient(circle, var(--lineGray) 40%, transparent 0% );}
  45% {background:radial-gradient(circle, var(--lineGray) 45%, transparent 0% );}
  50% {background:radial-gradient(circle, var(--lineGray) 50%, transparent 0% );}
  55% {background:radial-gradient(circle, var(--lineGray) 55%, transparent 0% );}
  60% {background:radial-gradient(circle, var(--lineGray) 60%, transparent 0% );}
  65% {background:radial-gradient(circle, var(--lineGray) 65%, transparent 0% );}
  70% {background:radial-gradient(circle, var(--lineGray) 70%, transparent 0% );}
  75% {background:radial-gradient(circle, var(--lineGray) 75%, transparent 0% );}
  80% {background:radial-gradient(circle, var(--lineGray) 80%, transparent 0% );}
  85% {background:radial-gradient(circle, var(--lineGray) 85%, transparent 0% );}
  90% {background:radial-gradient(circle, var(--lineGray) 90%, transparent 0% );}
  95% {background:radial-gradient(circle, var(--lineGray) 95%, transparent 0% );}
  100% {background:radial-gradient(circle, var(--lineGray) 100%, transparent 0% );}
}

.leftHoverMoveAnimation {
  animation-name:moveLeftHover;
  animation-duration:.2s;
  animation-fill-mode:forwards;
}

@keyframes moveLeftHover {
  from {left:-1000px;}
  to {left:0px;}
}

/*WEBSITE HEADER*/
header {
  position:fixed;
  top:0px;
  left:0px;
  width:100%;
  border:.1px solid;
}

#topOfTheHeader {
  width:100%;
  background-color:white;
  border-bottom:.1px solid var(--lineGray);
  display:flex;
  flex-flow:row nowrap;
  font-size:1.8rem;
  padding:10px;
  color:var(--darkGray);
  align-items:center;
  justify-content:space-between;
}

header .showIconeInfo {
  position:relative;
}

.showIconeInfo:hover .iconeInfo {
  display:block;
}

.iconeInfo { 
  position:absolute;
  top:55px;
  left:50%;
  transform:translateX(-50%);
  background-color:rgba(0, 0, 0, 0.644);
  color:white;
  font-size:1.2rem;
  padding:10px;
  font-weight:550;
  border-radius:2px;
  white-space:nowrap;
  max-width:300px;
  cursor:none;
  display:none;
  z-index:20;
}

.youtubeLogo {
  white-space:nowrap;
}

.youtubeLogo > i:first-child + i {
  color:red;
  font-size:2.2rem;
  cursor:pointer;
}

.youtubeLogo > span {
  font-weight:700;
  margin-left:-3px;
  cursor:pointer;
  margin-right:10px;
}

#searchArea {
  display:flex;
  align-items:center;
  width:55%;
}

#searchArea input {
  padding:5px 10px;
  font-size:1.6rem;
  outline:none;
  z-index:5;
  width:90%;
  border:.1px solid var(--lineGray);
}

#searchArea input:focus {
  outline:0.1px solid var(--darkBlue);
}

#searchArea > button {
  position:relative;
  right:1.5px;
  width:65px;
  height:30px;
  margin-right:5px;
  border:.1px solid var(--lineGray);
  cursor:pointer;
  color:gray;
  outline:none;
}

#searchArea > button:hover {
  color:black;
  box-shadow:0px 0px 1px gray;
}

#searchArea > i:last-child {
  display:none;
}

#optionsOfMyAccount {
  display:flex;
  flex-flow:row;
  align-items:center;
}

#optionsOfMyAccount i {
  margin:0px 5px;
}

#optionsOfMyAccount > img {
  margin-left:10px;
  cursor:pointer;
}

#wholeBar {
  position:relative;
  width:100%;
}

#videoKindBar {
  position:relative;
  display:flex;
  flex-flow:row nowrap; 
  white-space:nowrap;
  color:black;
  font-size:1.4rem;
  padding:10px;
  overflow-x:hidden;
  border-bottom:.1px solid var(--lineGray);
}

.videoKindaBarBig {
  position: relative;
  left:220px;
  width:84%;
}

.videoKindBarSmall {
  position:relative;
  left:71px;
  width:95%;
}

.kindOfVideos {
  background-color:rgb(238, 238, 238);
  border:1px solid var(--lineGray);
  cursor:pointer;
  transition:filter .2s;
  padding:10px;
  border-radius:100px;
  margin-right:10px;
}

.kindOfVideos:hover {
  filter:brightness(95%);
}

.arrowForNavagate {
  position:absolute;
  bottom:1px;
  z-index:18;
  height:99%;
  padding:10px 8px;
}

.arrowForNavagate .circularIconeBorder {
  padding:14px 0px;
}

#rightArrow {
  right:0px;
  background-image:linear-gradient(to left, white 70%, rgba(255, 255, 255, 0.836) 100%,  rgba(255, 255, 255, 0.74) 10%);
}

#leftArrow {
  background-image:linear-gradient(to right, white 70%, rgba(255, 255, 255, 0.836) 100%,  rgba(255, 255, 255, 0.74) 10%);
}

.normalLeftArrow {
  left:220px;
}

.adjusteLeftArrow {
  left:70px;
}

/*LEFT HOVER*/
#leftHover {
  position:fixed;
  top:56px;
  left:0px;
  width:220px;
  height:92vh;
  background-color:white;
  overflow-y:hidden;
  overflow-x:hidden;
  color:var(--darkGray);
  font-size:1.5rem;
  z-index:51;
}

#leftHover:hover {
  overflow-y:scroll;
}

#leftHover > nav {
  padding:5px 0px;
  border-bottom:.1px solid var(--lineGray);
}

#leftHover > nav .options {
  padding:10px 10px;
  cursor:pointer;
}

#leftHover > nav .options:hover {
  background-color:var(--lightGray);
}

#leftHover > nav .options > i {
  min-width:30px;
  max-width:50px;
  margin-right:10px;
  text-align:center;
  font-size:1.8rem;
}

#leftHover > nav .title {
  padding:5px 14px;
  font-weight:600;
  text-transform:uppercase;
  font-size:1.4rem;
  cursor:pointer;
}

/*SMALLER LEFT HOVER*/
#smallLeftHover {
  position:fixed;
  top:56px;
  left:0px;
  height:92vh;
  width:70px;
  background-color:white;
  color:var(--darkGray);
  font-size:1.5rem;
}

#smallLeftHover > div {
  text-align:center;
  display:flex;
  flex-flow:column nowrap;
  padding:20px 3px;
  font-size:1rem;
  cursor:pointer;
}

#smallLeftHover > div:hover {
  background-color:var(--lightGray);
}

#smallLeftHover > div > i {
  font-size:2rem;
  margin-bottom:5px;
}

/*LEFT HOVER FROM MODEL*/
#leftHoverFromModel {
  position:fixed;
  top:0px;
  left:0px;
  width:220px;
  height:100%;
  background-color:white;
  overflow-y:hidden;
  overflow-x:hidden;
  color:var(--darkGray);
  font-size:1.5rem;
  z-index:51;
}

#leftHoverFromModel:hover {
  overflow-y:scroll;
}

#leftHoverFromModel > nav {
  padding:5px 0px;
  border-bottom:.1px solid var(--lineGray);
}

#leftHoverFromModel > nav .options {
  padding:10px 10px;
  cursor:pointer;
}

#leftHoverFromModel > nav .options:hover {
  background-color:var(--lightGray);
}

#leftHoverFromModel > nav .options > i {
  min-width:30px;
  max-width:50px;
  margin-right:10px;
  text-align:center;
  font-size:1.8rem;
}

#leftHoverFromModel > nav .title {
  padding:5px 14px;
  font-weight:600;
  text-transform:uppercase;
  font-size:1.4rem;
  cursor:pointer;
}

/*CONTAINER THAT DISPLAY THE VIDEOS*/
#gridContainerForTheVideos {
  position:relative;
  top:120px;
  left:220px;
  width:84%;
  display:grid;
  grid-template-columns:25% 25% 25% 25%;
  border:.1px solid;
}

.videoContainer {
  border:.1px solid red;
}

.videoImageContainer {
  position:relative;
}

.videoImageContainer > img {
  width:100%;
  cursor:pointer;
}

.videoTime {
  position:absolute;
  right:5px;
  bottom:5px;
  color:white;
  font-weight:550;
  font-size:1.2rem;
  padding:4px 5px;
  border-radius:2px;
  background-color:rgba(0, 0, 0, 0.836);
  cursor:pointer;
  transition:opacity .1s;
}

.videoImageContainer:hover .iconeBar {
  opacity:1;
}

.iconeBar {
  position:absolute;
  right:5px;
  white-space:nowrap;
  color:white;
  background-color:rgba(0, 0, 0, 0.829);
  font-size:1.6rem;
  font-weight:550;
  border-radius:2px;
  display:flex;
  flex-flow:row;
  padding:6px;
  cursor:pointer;
  opacity:0;
  transition:opacity .2s;
}

.iconeBar i {
  width:20px;
  text-align:center;
}

.iconeBar:hover {
  background-color:rgba(0, 0, 0, 0.932);
}

.iconeBar:hover .iconeText {
  opacity:1;
  width:100px;
}

.watchLaterIcone {
  top:5px;
}

.addToQueueIcone {
  top:40px;
}

.iconeText {
  width:0px;
  text-align:center;
  opacity:0;
  overflow:hidden;
  transition:width .2s;
}

.videoImageContainer:hover > .videoTime {
  opacity:0;
}

/*WEBSITE FOOTER*/
footer > section {
  color:var(--darkGray);
  padding:5px 14.5px;
  font-size:1.2rem;
}

footer > section > a {
  text-decoration:none;
  display:block;
  color:#525050;
  font-weight:550;
}

footer div:last-child {
  padding:10px 14.5px;
  color:gray;
  font-size:1.2rem;
}

/*MEDIAS OF THE CODE*/
@media(min-width:1300px) {
  #smallLeftHover.noVisibleElement {display:none;}
}

@media(max-width:1300px) {
  #smallLeftHover.noVisibleElement {display:block;}
  #leftHover {display:none;}
  #videoKindBar{left:71px; width:95%;}
  #leftArrow {left:70px;}
}

@media(max-width:805px) {
  #smallLeftHover.noVisibleElement {display:none;}
  #smallLeftHover {display:none;}
  #videoKindBar {width:120%; left:-71px;}
  #leftArrow {left:0px;}
}

@media(max-width:650px) {
  /*TURN THE SEARCH AREA RESPONSIVE*/
  #searchArea {justify-content:flex-end;}
  #searchArea input {display:none;}
  #searchArea button {display:none;}
  #searchArea > i:last-child {display:block;}
}